In [8]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.24.3)

In [9]:
import numpy as np

In [10]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [11]:
import pandas as pd

In [14]:
##We can convert data frames into array...
###Playing with the data frames....
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Col2","col2","col3","col4"])

In [21]:
df[["col3","col4"]]
##thisa is also one of the wayyy....

      col3  col4
Row1     2     3
Row2     6     7
Row3    10    11
Row4    14    15
Row5    18    19

In [15]:
df.head()

      Col2  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [16]:
##Convert frames into an array....
df.iloc[:,1:].values
##It will skip names like col and rows....

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [17]:
##There are some operation which is very importnat to know about it...
df.isnull().sum()
##This will show you as there are any zero in the given vols...

Col2    0
col2    0
col3    0
col4    0
dtype: int64

In [18]:
##The given function will count the repitation of the values...
df["col3"].value_counts()

2     1
6     1
10    1
14    1
18    1
Name: col3, dtype: int64

In [19]:
df["col3"].unique()
##tHIS WILL SHOW YOU THE UNIQUE VALUES OF THE GIVEN MATRIX...

array([ 2,  6, 10, 14, 18])